* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    width: 1200px;
    margin: auto;

    padding-bottom: 48px;

} 

.row-wrap {
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-direction: row;
}

.car-item {
    flex-basis: 33.333%;
    padding: 10px;
}

.card {
    /* width: 350px; */
    /* overflow: hidden; */
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    border-radius: 4px;
    overflow: hidden;
    
}

img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    height: 100%;
}

.card-content {
    padding: 16px;
}

.card-content h2 {
    font-size: 19px;
    color: #464646;
    font-weight: 400;
}

.card-content p {
    color: #757575;
    font-size: 14px;
    font-weight: 100;
}

.card-content p span {
    color: #ffd600;
}

.car-image {
    height: 230px;
}


/* Footer */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}


.footer {
    /* width: 390px; */
    background-color: #30598c;
    color: #fff;
    padding: 48px 167px;

    
}

.footer a:hover {
    color: #919294;
}

.col {
    padding: 0 15px;
}

.col1, .col2, .col4 {
    flex-grow: 1;
    flex-basis: 0;
}

.col3 {
    flex-basis: 33.333%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

.footer h2 {
    font-size: 20px;
    line-height: 35px;
    font-weight: 400;
}

.footer a,
.footer p {
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
}

.footer .contact {
    margin-bottom: 25px;
}

.social {
    margin-top: 16px;
}

.social li {
    display: inline-block;
    margin: 0 10px;
}

.social ul {
    margin-left: -10px;
}

.social li i {
    font-size: 28px;
}